main {
    position: relative;
    height: calc(100vh - 60px); 
    overflow: hidden;
  }
  
  figure {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h1, h2, p {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    margin: 25px;
  }
  
  p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    width: 75%;
    text-indent: 24px;
    border: none;
    padding: 0;
  }
  
  h1 {
    color: black;
    font-weight: bold;  
  }

  p:first-of-type {
    text-indent: 0; 
  }

  main p:first-of-type::first-letter {
    font-size: 42px;
    font-weight: bold;
    color: red;
  }
  
  main blockquote p:first-of-type::first-letter {
    font-size: initial;
    font-weight: initial;
    color: initial;
}

  h2 {
    color: black;
  }