 header {
  border-bottom: none;
 }
 
 main {
    position: relative;
    width: 102%;
    overflow: hidden;
  }
  
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  margin-bottom: -20px;
  }

figure {
    position: relative;
    margin-right: 24px;
    margin-bottom: 0;
    height: 100%;
    z-index: 1;
  }
  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
h1, h2, p {
    color: black;
    font-weight: bold; 
    max-width: 90%;
    margin-top: 0;
    margin-left: 24px;
    }

p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-indent: 24px;
    border: none;
    padding: 0;
  }
  
p:first-of-type {
    text-indent: 0; 
  }

main section:first-of-type p:first-of-type::first-letter {
    font-size: 42px;
    font-weight: bold;
    color: red;
  }
  
main section blockquote p:first-of-type::first-letter {
    font-size: initial;
    font-weight: initial;
    color: initial;
    margin-top: 36px;
}

footer {
  border-top: 1px solid black; 
  padding-top: 20px;
  margin: 0;
  clear: both;
}

@media only screen and (max-width: 767px) {
  main .header-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;  
    padding-top: 24px;
  }
  figure {
      max-width: 40%;
      margin: 10% 0;
    }
    h1 {
      text-align: center;
      margin-right: 24px;
      padding-bottom: 24px;
    }  
  p {
    margin-left: 12px;
    margin-right: 12px;
  }
  
    } 
  
@media only screen and (min-width: 767px) {
  main .header-container {
    flex-direction: row;
  }
  figure {
    max-width: 20%;
    margin: 10%;
    margin-left: 42px;
    margin-right: 18px;
  }

}
